.container{
    display: flex;
    justify-content: center;
    
    width: 100%;
   
}
.todo-input{
    height: 2rem;
    width: 20rem;

}
.todo-button{
    margin-top:1rem;
    display: flex;
    justify-content: center;
}
.todo-button > button{
  width: 8rem;
  height: 2rem;
}
.text-main{
    margin-left: 4rem;
}
.todo-display{
    height: 50rem;
    border: 1px solid white;
    width: 75%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 10rem;
    margin-top: 1rem;
}